<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <header class="header-page">
      <div class="container">
        <section class="header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand navbar__heading" href="#">Shopify </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Start <i class="fas fa-angle-down"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Sell <i class="fas fa-angle-down"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Market <i class="fas fa-angle-down"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Manage <i class="fas fa-angle-down"></i
                  ></a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav__item">
                  <a class="nav-link" href="#">Pricing </a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Learn <i class="fas fa-angle-down"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#">Login </a>
                </li>
              </ul>
              <button type="button" class="btn btn-header">
                Start free trial
              </button>
            </div>
          </nav>
        </section>
      </div>
    </header>
    <main class="index-page">
      <section class="index-page__section-first">
        <div class="container">
          <div class="intro row">
            <div class=" infor col-lg-6">
              <h1 class="intro__heading">Build your business</h1>
              <p class="intro__para">You’ve got the will. We’ve got the way.</p>
              <input
                type="text"
                class="form-control intro__ip"
                placeholder="Enter your email address"
                aria-label="Enter your email address"
                aria-describedby="basic-addon2"
              />
              <button type="button" class="btn intro__btn">
                Start free trial
              </button>
              <p class="intro__title">
                Try Shopify free for 14 days, no credit card required. By
                entering your email, you agree to receive marketing emails from
                Shopify.
              </p>
            </div>
            <div class="clip col-lg-6">
              <img class="clip__img" src="../images/video.jpg" />
              <a href="#" class="clip__button"
                ><i class="fa fa-play fa-1x"></i
              ></a>
            </div>
          </div>
          <div class="photo d-flex">
            <div class="photo__img-first">
              <img class="img-type" src="../images/p1.png" />
            </div>
            <div class="photo__img">
              <img class="img-type" src="../images/p2jpg.jpg" />
            </div>
            <div class="photo__img display">
              <img class="img-type" src="../images/p3.jpg" />
            </div>
            <div class="photo__img display">
              <img class="img-type" src="../images/p4.jpg" />
            </div>
          </div>
        </div>
      </section>
      <section class="index-page__section">
        <div class="container">
          <div class="client">
            <div class="heading">
              <h1 class="heading__theme">
                With you from first sale to full scale
              </h1>
              <p class="heading__title">
                One platform with all the ecommerce and point of sale features
                you need to start, run, and grow your business.
              </p>
            </div>
            <div class="client__grid r-flex">
              <div class="market-images col-lg-6 col-md-12">
                <img class="img-list" src="../images/m1.png" />
              </div>
              <div class="market-content col-lg-6 col-md-12">
                <h1 class="market-content__theme">Start —</h1>
                <h1 class="market-content__title">your business journey</h1>
                <p class="market-content__para">
                  Find a business name, buy a domain, and create a brand with
                  our free tools.
                </p>
                <a href="#" class="market-content__link link-down"
                  >Explore tools to start your business
                  <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="client__grid r-flex">
              <div class="market-content col-lg-6 col-md-12">
                <h1 class="market-content__theme">Sell —</h1>
                <h1 class="market-content__title">everywhere</h1>
                <p class="market-content__para">
                  Use one platform to sell products to anyone, anywhere—online
                  with your ecommerce store, online marketplaces, and social
                  media, and in-person with point of sale.
                </p>
                <a href="#" class="market-content__link link-down"
                  >Explore ways to sell <i class="fas fa-arrow-right"></i
                ></a>
              </div>
              <div class="market-video col-lg-6 col-md-12">
                <video
                  width="100%"
                  height="100%"
                  autoplay
                  src="/src/images/v2.mp4"
                ></video>
              </div>
            </div>
            <div class="client__grid r-flex">
              <div class="market-images col-lg-6 col-md-12">
                <img class="img-list" src="../images/m3.jpg" />
              </div>
              <div class="market-content col-lg-6 col-md-12">
                <h1 class="market-content__theme">Market —</h1>
                <h1 class="market-content__title">your business</h1>
                <p class="market-content__para">
                  Take the guesswork out of marketing with built-in tools that
                  help you create, execute, and analyze campaigns on Facebook
                  and Google.
                </p>
                <a href="#" class="market-content__link link-down"
                  >Explore how to market your business
                  <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="client__grid r-flex">
              <div class="market-content col-lg-6 col-md-12">
                <h1 class="market-content__theme">Manage —</h1>
                <h1 class="market-content__title">everything</h1>
                <p class="market-content__para">
                  Use a single dashboard to manage orders, shipping, and
                  payments anywhere you go. Gain the insights and knowledge you
                  need to grow.
                </p>
                <a href="#" class="market-content__link link-down">
                  Explore how to market your business
                  <i class="fas fa-arrow-right"></i
                ></a>
              </div>
              <div class="market-images col-lg-6 col-md-12">
                <img class="img-list" src="../images/m4.png" />
              </div>
            </div>
            <div class="client__view r-flex">
              <div class="support col-lg-4 col-md-12">
                <img class="support__img" src="../images/v1.png" />
                <h3 class="support__heading">Award-winning support</h3>
                <p class="support__para">
                  Get the help you need, day or night, 24/7
                </p>
                <a href="#" class="link-down"
                  >Contact support <i class="fas fa-arrow-right"></i
                ></a>
              </div>
              <div class="support col-lg-4 col-md-12">
                <img class="support__img" src="../images/v2.png" />
                <h3 class="support__heading">Shopify App Store</h3>
                <p class="support__para">
                  Add features and functionality to your business with 3,200+
                  apps that integrate directly with Shopify.
                </p>
                <a href="#" class="link-down"
                  >Visit the Shopify App Store <i class="fas fa-arrow-right"></i
                ></a>
              </div>
              <div class="support col-lg-4 col-md-12">
                <img class="support__img" src="../images/v3.png" />
                <h3 class="support__heading">Shopify Experts</h3>
                <p class="support__para">
                  Hire a Shopify Expert to help you with everything from store
                  setup to SEO.
                </p>
                <a href="#" class="link-down"
                  >Explore Shopify Experts <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="index-page__section">
        <div class="container">
          <div class="future r-flex">
            <div class="future__img col-lg-6 col-md-12">
              <img class="women-img" src="../images/l1.jpg" />
            </div>
            <div class="future__content col-lg-6 col-md-12">
              <h3 class="future-heading">
                “We’ve been able to build something in 3 years that a lot of
                brands haven’t actually gotten to in 10 years.”
              </h3>
              <img class="content-img" src="../images/lc2.png" />
              <p class="future-para">Chioma | Cee Cee’s Closet NYC</p>
              <button type="button" class="btn future-btn">
                <i class="fas fa-caret-right"></i> Play Chioma and Uchenna's
                story
              </button>
            </div>
          </div>
          <div class="logo">
            <img class="trademark" alt="" src="../images/lc2.png" />
            <img class="trademark" alt="" src="../images/i2.png" />
            <img class="trademark" alt="" src="../images/i3.png" />
            <img class="trademark" alt="" src="../images/i4.png" />
            <img class="trademark" alt="" src="../images/i5.png" />
            <img class="trademark" alt="" src="../images/i6.png" />
            <img class="trademark" alt="" src="../images/i7.png" />
            <img class="trademark" alt="" src="../images/i8.png" />
          </div>
          <div class="boots">
            <h2 class="boots__heading">
              Start your business journey with Shopify
            </h2>
            <p class="boots__para">
              Try Shopify for free, and explore all the tools and services you
              need to start, run, and grow your business.
            </p>
            <button type="button" class="btn boots__btn">
              Start free trial
            </button>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer-page">
      <div class="footer-page__section">
        <div class="container">
          <div class="about">
            <a class="about__link" href="#">About</a>
            <a class="about__link" href="#">Careers</a>
            <a class="about__link" href="#">Press and Media</a>
            <a class="about__link" href="#">Shopify Plus</a>
            <a class="about__link" href="#"> Sitemap</a>
          </div>
        </div>
      </div>
      <div class="footer-page__section">
        <div class="container">
          <div class="row">
            <div class="contact d-flex col-md-6">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <ul class="contact-item">
                    ONLINE STORE
                    <li class="">
                      <a href="#" class="contact-item__link">Sell online</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Features</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Examples</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Website editor</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Online retail</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                  <ul class="contact-item-a">
                    .
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Ecommerce website</a
                      >
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Domain names</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Themes</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Shopping cart</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Ecommerce hosting
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                  <ul class="contact-item-a">
                    .
                    <li class="">
                      <a href="#" class="contact-item__link">Mobile commerce</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Ecommerce software</a
                      >
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Online store builder</a
                      >
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Oberlo</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Dropshipping Business</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="contact d-flex col-md-6">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <ul class="contact-item">
                    POINT OF SALE
                    <li class="">
                      <a href="" class="contact-item__link">Point of sale</a>
                    </li>
                    <li class="">
                      <a href="" class="contact-item__link">Features</a>
                    </li>
                    <li class="">
                      <a href="" class="contact-item__link">Hardware</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                  <ul class="contact-item">
                    SUPPORT
                    <li class="">
                      <a href="#" class="contact-item__link">24/7 support</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Shopify Help Center</a
                      >
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Forums</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >API documentation</a
                      >
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Free tools</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Free stock photos</a
                      >
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Websites for sale</a
                      >
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Hatchful</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                  <ul class="contact-item">
                    SHOPIFY
                    <li class="">
                      <a href="#" class="contact-item__link">Contact</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Partner program</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link"
                        >Affiliate program</a
                      >
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">App developers</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Investors</a>
                    </li>
                    <li class="">
                      <a href="#" class="contact-item__link">Blog topics</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-page__section-last">
        <div class="container">
          <div class="last row">
            <div class="social">
              <div class="social__icon">
                <span class="icon-extend"><i class="fab fa-facebook"></i></span>
                <span class="icon-extend"
                  ><i class="fab fa-twitter-square"></i
                ></span>
                <span class="icon-extend"
                  ><i class="fab fa-youtube-square"></i
                ></span>
                <span class="icon-extend"
                  ><i class="fab fa-instagram"></i
                ></span>
                <span class="icon-extend"><i class="fab fa-linkedin"></i></span>
                <span class="icon-extend"
                  ><i class="fab fa-pinterest-square"></i
                ></span>
              </div>
            </div>
            <div class="world ml-auto">
              <a href="#" class="world__para">Terms of Service </a>
              <a href="#" class="world__para">Privacy Policy </a>
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle world__btn"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-globe-americas"></i> USA
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Vietnamese</a>
                  <a class="dropdown-item" href="#">Japanese</a>
                  <a class="dropdown-item" href="#">IMPL</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
