<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <header class="header-page">
      <div class="container">
        <section class="header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand navbar__heading" href="#">Shopify </a>
            <!-- <i class="fab fa-shopify fab-3x"></i> -->
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Start <i class="fas fa-angle-down"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Sell <i class="fas fa-angle-down"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Market <i class="fas fa-angle-down"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Manage <i class="fas fa-angle-down"></i
                  ></a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav__item">
                  <a class="nav-link" href="#">Pricing </a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#"
                    >Learn <i class="fas fa-angle-down"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#">Login </a>
                </li>
              </ul>
              <button type="button" class="btn btn-primary btn-header">
                Start free trial
              </button>
            </div>
          </nav>
        </section>
      </div>
    </header>
    <main class="index-page">
      <section class="index-page__section-first">
        <div class="container">
          <div class="intro row">
            <div class=" infor col-lg-6">
              <h1 class="intro__heading">Build your business</h1>
              <p class="intro__para">You’ve got the will. We’ve got the way.</p>
              <input
                type="text"
                class="form-control intro__ip"
                placeholder="Enter your email address"
                aria-label="Enter your email address"
                aria-describedby="basic-addon2"
              />
              <button type="button" class="btn btn-success intro__btn">
                Start free trial
              </button>
              <p class="intro__title">
                Try Shopify free for 14 days, no credit card required. By
                entering your email, you agree to receive marketing emails from
                Shopify.
              </p>
            </div>
            <div class="clip col-lg-6">
              <img class="clip__img" src="../images/video.jpg" />
              <a href="#" class="clip__button"
                ><i class="fa fa-play fa-1x"></i
              ></a>
            </div>
          </div>
          <div class="photo r-flex">
            <div class="photo__img-first">
              <img class="img-type" src="../images/p1.png" />
            </div>
            <div class="photo__img">
              <img class="img-type" src="../images/p2jpg.jpg" />
            </div>
            <div class="photo__img display">
              <img class="img-type" src="../images/p3.jpg" />
            </div>
            <div class="photo__img display">
              <img class="img-type" src="../images/p4.jpg" />
            </div>
          </div>
        </div>
      </section>
      <section class="index-page__section">
        <div class="container">
          <div class="client">
            <div class="heading">
              <h1 class="heading__theme">
                With you from first sale to full scale
              </h1>
              <p class="heading__title">
                One platform with all the ecommerce and point of sale features
                you need to start, run, and grow your business.
              </p>
            </div>
            <div class="client__grid r-flex">
              <div class="market-images col-lg-6">
                <img class="img-list" src="../images/m1.png" />
              </div>
              <div class="market-content col-lg-6">
                <h1 class="market-content__theme">Start —</h1>
                <h1 class="market-content__title">your business journey</h1>
                <p class="market-content__para">
                  Find a business name, buy a domain, and create a brand with
                  our free tools.
                </p>
                <a href="#"
                  >Explore tools to start your business
                  <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="client__grid r-flex">
              <div class="market-content">
                <h1 class="market-content__theme">Sell —</h1>
                <h1 class="market-content__title">everywhere</h1>
                <p class="market-content__para">
                  Use one platform to sell products to anyone, anywhere—online
                  with your ecommerce store, online marketplaces, and social
                  media, and in-person with point of sale.
                </p>
                <a href=""
                  >Explore ways to sell <i class="fas fa-arrow-right"></i
                ></a>
              </div>
              <div class="market-video">
                <video
                  width="400"
                  height="400"
                  controls
                  src="../images/sell-animation-67cb451bf5ee1699b92c1d07b708a3afece29fbb48bc4227d8f463be4533689e.mp4"
                ></video>
              </div>
            </div>
            <div class="client__grid r-flex">
              <div class="market-images col-lg-6">
                <img class="img-list" src="../images/m3.jpg" />
              </div>
              <div class="market-content col-lg-6">
                <h1 class="market-content__theme">Market —</h1>
                <h1 class="market-content__title">your business</h1>
                <p class="market-content__para">
                  Take the guesswork out of marketing with built-in tools that
                  help you create, execute, and analyze campaigns on Facebook
                  and Google.
                </p>
                <a href=""
                  >Explore how to market your business
                  <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="client__grid r-flex">
              <div class="market-content col-lg-6">
                <h1 class="market-content__theme">Manage —</h1>
                <h1 class="market-content__title">everything</h1>
                <p class="market-content__para">
                  Use a single dashboard to manage orders, shipping, and
                  payments anywhere you go. Gain the insights and knowledge you
                  need to grow.
                </p>
                <a href="">
                  Explore how to market your business
                  <i class="fas fa-arrow-right"></i
                ></a>
              </div>
              <div class="market-images col-lg-6">
                <img class="img-list" src="../images/m4.png" />
              </div>
            </div>
            <div class="client__view r-flex">
              <div class="support">
                <img class="support__img" src="../images/v1.png" />
                <h1 class="support__heading">Award-winning support</h1>
                <p class="support__para">
                  Get the help you need, day or night, 24/7
                </p>
                <a href=""
                  >Contact support <i class="fas fa-arrow-right"></i
                ></a>
              </div>
              <div class="support">
                <img class="support__img" src="../images/v2.png" />
                <h1 class="support__heading">Shopify App Store</h1>
                <p class="support__para">
                  Add features and functionality to your business with 3,200+
                  apps that integrate directly with Shopify.
                </p>
                <a href=""
                  >Visit the Shopify App Store <i class="fas fa-arrow-right"></i
                ></a>
              </div>
              <div class="support">
                <img class="support__img" src="../images/v3.png" />
                <h1 class="support__heading">Shopify Experts</h1>
                <p class="support__para">
                  Hire a Shopify Expert to help you with everything from store
                  setup to SEO.
                </p>
                <a href=""
                  >Explore Shopify Experts <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
